NODE_ENV=production
PORT=3001
CORS_ORIGIN=https://your-frontend.onrender.com
# DATABASE_URL از Render تزریق می‌شود
# REDIS_URL از Render تزریق می‌شود

# MQTT settings (required)
MQTT_BROKER_URL=
MQTT_USERNAME=
MQTT_PASSWORD=

# RabbitMQ settings (required)
RABBITMQ_URL=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
